.piano {
	display: flex;
	margin: 5%;
	justify-content: center;
}

.note {
	display: flex;
	border: 1px solid black;
	flex-direction: column;
	width: 50px;
	height: 120px;
	align-items: center;
	justify-content: center;
}

.clicked {
	background-color: #a1a1a1;
}

.volume-controller {
	display: flex;
	font-weight: bold;
}
.volume-controller__input {
	margin-left: 10px;
}